/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  font-family: "Kameron", serif;
  color: #fff;
}
.header .nav {
  background-color: #4B4B4B;
  padding: 20px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1024px) {
  .header .nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
}
@media (min-width: 1500px) {
  .header .nav {
    padding: 25px 20px 15px 15px;
  }
}
.header .nav a, .header .nav h1 {
  padding-bottom: 15px;
}
@media (min-width: 1024px) {
  .header .nav a, .header .nav h1 {
    padding-bottom: 0;
  }
}
.header .nav h1 > a,
.header .nav .phone {
  text-decoration: none;
  font-size: 30px;
  color: inherit;
  font-weight: bold;
}
@media (min-width: 1024px) {
  .header .nav .phone {
    font-size: 22px;
    padding-right: 10px;
  }
}
@media (min-width: 1500px) {
  .header .nav .phone {
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  .header .nav h1,
.header .nav h1 > a {
    order: 2;
    flex: none;
    font-size: 30px;
  }
}
@media (min-width: 1500px) {
  .header .nav h1,
.header .nav h1 > a {
    font-size: 54px;
  }
}
.header .nav .email {
  text-decoration: none;
  font-size: 22px;
  color: inherit;
  text-transform: uppercase;
  font-weight: bold;
}
@media (min-width: 1500px) {
  .header .nav .email {
    font-size: 30px;
  }
}
.header .nav .social-icons {
  width: 250px;
  display: flex;
  justify-content: space-evenly;
}
.header .nav .social-icons a {
  text-decoration: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.header .nav .social-icons a i {
  font-size: 50px;
  color: #fff;
}
@media (min-width: 1024px) {
  .header .nav .social-icons a i {
    font-size: 35px;
  }
}
@media (min-width: 1024px) {
  .header .nav .social-icons a i {
    font-size: 50px;
  }
}
.header .intro-text {
  padding: 45px 15px;
  color: #3D3D3D;
}
.header .intro-text h2 {
  color: inherit;
  font-size: 60px;
  font-weight: bold;
}
.header .intro-text h4 {
  color: inherit;
  font-size: 24px;
  padding-top: 15px;
}
.header .intro-text h3 {
  color: inherit;
  font-size: 60px;
  font-weight: bold;
  font-size: 26px;
  padding-top: 15px;
  line-height: 1.3em;
}

/*# sourceMappingURL=index.css.map */
