/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 1900px) {
  .wrapper {
    width: 90%;
  }
}
.slide-in {
  animation-name: entrance;
  animation-duration: 1.5s;
}

@keyframes entrance {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(30px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
.slide-left {
  animation-name: slide-left;
  animation-duration: 1.5s;
}

@keyframes slide-left {
  0% {
    display: none;
  }
  0% {
    margin-left: -500px;
  }
  20% {
    opacity: 40%;
  }
  95% {
    opacity: 100%;
  }
  100% {
    margin-right: 0;
  }
}
.slide-right {
  animation-name: slide-right;
  animation-duration: 1.5s;
}

@keyframes slide-right {
  0% {
    display: none;
  }
  0% {
    margin-right: -500px;
  }
  20% {
    opacity: 40%;
  }
  95% {
    opacity: 100%;
  }
  100% {
    margin-right: 0;
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.header {
  transition: 0.6s;
  width: 100%;
  font-family: sans-serif;
  background-color: #2c3e50;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.header .nav {
  max-width: 110rem;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav .flex-header {
  display: flex;
  align-items: center;
}
.header .nav .flex-header .logo-header {
  background-color: white;
  border-radius: 25rem;
  margin-right: 1rem;
  width: 60px;
}
.header .nav .name-logo {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.6s;
}
.header .nav .ul {
  width: 25%;
  display: flex;
  justify-content: space-around;
}
.header .nav .ul .li {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}
.header .nav .ul .li a:hover {
  color: #2c3e50;
  background-color: white;
  cursor: pointer;
}
.header .nav .ul .li a {
  border-radius: 0.25rem;
  padding: 5px;
  color: white;
  text-decoration: none;
}

.main {
  height: 100vh;
  background-color: #18bc9c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 6.5rem;
}
.main .logo-band {
  display: flex;
  margin: 1rem;
  border-radius: 0.25rem;
  background-color: #1bd8b2;
}
.main .logo-band img {
  padding: 0.75rem;
}
.main .logo-band a:hover {
  border-radius: 0.25rem;
  background-color: white;
}
.main .logo-band a:hover img {
  border-radius: 0.25rem;
  background-color: white;
}
.main .circle {
  width: 250px;
  height: 250px;
  background: #2c3e50;
  border-radius: 250px;
  margin-top: -3rem;
}
.main .header-name {
  font-size: 4.75rem;
  font-family: sans-serif;
  font-weight: 700;
  margin-top: 3rem;
}
.main .line-star {
  width: 250px;
  height: 4px;
  background-color: white;
  margin-top: 2rem;
}
.main .sub-title {
  font-size: 1.75rem;
  font-family: "Lato";
  font-weight: lighter;
  margin-top: 2rem;
}

.portfolio {
  padding-top: 4rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio .header-section {
  text-align: center;
  font-size: 3rem;
  font-family: sans-serif;
  font-weight: 700;
  color: #2c3e50;
}
.portfolio .line-star-p {
  margin: 0 auto;
  width: 250px;
  height: 4px;
  background-color: #2c3e50;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.portfolio .grid-container {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}
.portfolio .grid-container .grid-item {
  font-size: 30px;
  height: 300px;
  text-align: center;
  padding: 2rem;
}
.portfolio .grid-container .grid-item h3 {
  color: #2c3e50;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  padding-bottom: 1rem;
}
.portfolio .grid-container .grid-item .div-p {
  width: 30rem;
  background-color: #18bc9c;
  border: 1px solid #ffffff;
  height: 70%;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio .grid-container .grid-item img {
  display: none;
}
.portfolio .grid-container .grid-item .button-p {
  display: flex;
  justify-content: space-between;
}
.portfolio .grid-container .grid-item .button-p button {
  margin-top: 2%;
  padding: 3% 16.75%;
  font-family: "Lato";
  font-size: 1.25rem;
  font-weight: 400;
  background: none;
  border: 1px solid #2c3e50;
  color: #2c3e50;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.portfolio .grid-container .grid-item .button-p button a {
  text-decoration: none;
  color: #2c3e50;
}
.portfolio .grid-container .grid-item .button-p button:hover {
  color: white;
  background-color: #1cd1ad;
  border-color: #f8f9fa;
  font-weight: bold;
}
.portfolio .grid-container .grid-item .button-p button:hover a {
  color: white;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 120px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #1cd1ad;
  margin: auto;
  padding: 20px;
  border: 1px solid #2c3e50;
  width: 70%;
}
.modal-content .content {
  display: flex;
  justify-content: space-around;
  padding: 3rem 1rem 10rem 1rem;
  color: white;
}
.modal-content .content h2 {
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 2.3rem;
  padding-bottom: 1rem;
}
.modal-content .content img {
  width: 90%;
}
.modal-content .content h3 {
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  padding-bottom: 1rem;
}
.modal-content .content .top-left {
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.modal-content .content .bottom-right {
  padding-left: 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-content .content .bottom-right p {
  font-size: 1.5rem;
  font-family: "Lato";
  font-weight: lighter;
  line-height: 1.5;
}
.modal-content .content .bottom-right ol {
  list-style-type: square;
}
.modal-content .content .bottom-right ol li {
  font-size: 1.5rem;
  font-family: "Lato";
  font-weight: lighter;
  line-height: 1.5;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.about {
  height: 100%;
  display: flex;
  padding-bottom: 8rem;
  flex-direction: column;
  align-items: center;
  background-color: #18bc9c;
  color: white;
}
.about .header-about {
  margin-top: 8rem;
  text-align: center;
  font-size: 3rem;
  font-family: sans-serif;
  font-weight: 700;
}
.about .line-star-a {
  width: 250px;
  height: 4px;
  background-color: white;
  margin-top: 2rem;
}
.about .about-p-div {
  display: flex;
  width: 45%;
  margin: 1rem;
  padding: 1rem;
}
.about .about-p-div .about-p {
  padding: 0.85rem;
  font-size: 1.5rem;
  font-family: "Lato";
  font-weight: lighter;
  line-height: 1.5;
}
.about .about-button-div .about-button {
  margin-right: 1rem;
  padding: 1rem 1.75rem;
  font-family: "Lato";
  font-size: 1.25rem;
  font-weight: 400;
  background: none;
  border: 1px solid white;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.about .about-button-div .about-button a {
  color: white;
  text-decoration: none;
}
.about .about-button-div .about-button:hover {
  background-color: #f8f9fa;
}
.about .about-button-div .about-button:hover a {
  border-color: #f8f9fa;
  color: #212529;
}

.footer {
  font-family: "Lato";
}
.footer .footer-section-sm {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2c3e50;
  color: #fff;
  text-align: center;
}
.footer .footer-section-sm h3 {
  font-family: "Lato";
  font-size: 2.25rem;
  font-weight: 700;
}
.footer .footer-section-sm .footer-social-flex {
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  padding: 1rem;
}
.footer .footer-section-sm .footer-social-flex p {
  margin-right: 1rem;
}
.footer .footer-copyright {
  background-color: #1a252f;
  color: white;
  text-align: center;
  padding-top: 1.5rem;
  font-size: 0.75rem;
}
.footer .credit {
  font-size: 0.75rem;
  background-color: #1a252f;
  color: black;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
}
.footer .credit a {
  color: white;
  text-decoration: none;
}

/*# sourceMappingURL=index.css.map */
