.about {
    padding:15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Kameron', serif;
    color: #4B4B4B;
    @media (min-width: 600px) {
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    @media (min-width: 700px) {
        margin-left:0;
    }
    @media (min-width: 1024px) {
        max-width: 750px;
        margin-left: 130px;
    }
    @media (min-width: 1480px) {
        max-width: 1000px;
        margin-left: 130px;
        padding-bottom: 50px;
    }
    h2 {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 10px;
        @media (min-width: 1480px) {
            font-size: 80px;
        }
    }
    p {
        font-size: 14px;
        font-weight: bold;
        line-height: 1.4em;
        margin-bottom: 10px;
        @media (min-width: 1000px) {
            font-size: 18px;
        }
        @media (min-width: 1480px) {
            font-size: 25px;
        }
    }
    h3, a {
        margin-top: 20px;
        color:#4B4B4B;
        font-size: 18px;
        font-weight: bold;
        @media (min-width: 1480px) {
            padding-top: 50px;
            font-size: 35px;
        }
    }
    h3:hover,
    a:hover {
        color: #18bc9c;
    }
    margin-bottom: 100px;
}