.about-max-width {
    background-color: #18bc9c;

    // added to center
    display:flex;
    align-items: center;
    flex-direction: column;

    .about{

        width:100%;
        // margin: auto 0;
    max-width: 1500px;
    height: 100%;
    display:flex;
    padding-bottom: 8rem;
    flex-direction: column;
    align-items: center;
    color:white;



    .header-about{
      margin-top:8rem;
      text-align: center;
      font-size: 3rem;
      font-family: sans-serif;
      font-weight: 700;
    }
    .line-star-a{
    width: 250px;
    height: 4px;
    background-color:white;
    margin-top: 2rem;
    }
    .about-p-div {
        display:flex;
        width:45%;
        margin:1rem;
        padding:1rem;
        .about-p {
            padding:.85rem;
            font-size: 1.50rem;
            font-family: "Lato";
            font-weight: lighter;
            line-height: 1.5;
        }
    }
    .about-button-div {
        .about-button {
            margin-right: 1rem;
            padding: 1rem 1.75rem;
            font-family: "Lato";
            font-size: 1.25rem;
            font-weight: 400;
            background: none;
            border: 1px solid white;
            line-height: 1.5;
            border-radius: .25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            a {
                color:white;
                text-decoration: none;
            }
        }
        .about-button:hover {
                background-color:#f8f9fa;
            a {
                border-color:#f8f9fa;
                color:#212529;
            }
        }
    }
}
}
@media only screen and (max-width:650px) {
    .about-max-width {
    .about{
        .about-p-div {
            width:90%;
        }
        .about-button-div {
            display:flex;
            .about-button {
                margin-right: 0rem;
                margin: .5rem;
                padding: 1rem 1.25rem;
                font-size: .99rem;
            }

        }
    }
}
}
