.footer {
    font-family: 'Kameron', serif;
    background-color:#4B4B4B;
    color: #fff;
    z-index: 11;
    position: relative;
    p {
        font-weight: bold;
        padding:30px;
        font-size: 16px;
        text-align: center;
    }
}
