body {
    overflow-x:hidden;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.wrapper {
    width:80%;
    margin: 0 auto;
}
@media only screen and (max-width: 1900px) {
.wrapper  {
    width: 90%;

}
}