.header {
    font-family: 'Kameron', serif;
    color: #fff;
    .nav {
        z-index: 10;
        transition: padding ease-in-out 300ms;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #4B4B4B;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: 1024px) {
            width: calc(100% - 35px);
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding:20px;
        }
        @media (min-width: 1500px) {
            padding: 25px 20px 15px 15px;
        }
        a, h1 {
            padding-bottom: 15px;
            @media (min-width: 1024px) {
                padding-bottom: 0;
            }
            @media (min-width: 1500px) {
            // No Styles
            }
        }
        a {
            transition: color ease-in 150ms;
        }
        a:hover {
            color: #18bc9c;
        }
        h1 > a,
        .phone {
            text-decoration: none;
            font-size: 30px;
            color: inherit;
            font-weight: bold;
        }
        .phone {
            @media (min-width: 1024px) {
                font-size: 22px;
                padding-right: 10px;
            }
            @media (min-width: 1500px) {
                font-size: 30px;
            }
        }
        h1,
        h1 > a {
            transition: font-size ease 300ms, color ease-in 150ms;
            @media (min-width: 1024px) {
                order: 2;
                flex: none;
                font-size: 30px;
            }
            @media (min-width: 1500px) {
                font-size: 54px;
            }
        }
        .email {
            text-decoration: none;
            font-size: 22px;
            color: inherit;
            text-transform: uppercase;
            font-weight: bold;
            @media (min-width: 1500px) {
                font-size: 30px;
            }
        }
        .social-icons {
            background-color: #4B4B4B;
            width: 250px;
            display: flex;
            justify-content: space-evenly;
            a {
                text-decoration: none;
                padding-bottom: 0;
                margin-bottom: 0;
                i {
                    transition: font-size ease 200ms, color ease-in 150ms;
                    font-size: 50px;
                    color: #fff;
                    @media (min-width: 1024px) {
                        font-size: 35px;
                    }
                    @media (min-width: 1024px) {
                        font-size: 50px;
                    }
                }
                i:hover {
                    transition: color ease-in 150ms;
                    color: #18bc9c;
                }
            }
        }
    }
    .intro-text {
        margin-top: 200px;
        padding: 45px 15px;
        color: #3D3D3D;
        @media (min-width:1024px) {
            margin-top: 100px;
            padding: 80px 140px;
            padding-bottom: 35px;
        }
        span {
            color: #18bc9c;
        }
        h2 {
            color: inherit;
            font-size: 60px;
            font-weight: bold;
            @media (min-width: 1024px) {
                font-size: 104px;
            }
        }
        h4 {
            color: inherit;
            font-size: 24px;
            padding-top: 15px;
            @media (min-width: 1024px) {
                font-size: 41px;
            }
        }
        h3 {
            color: inherit;
            font-size: 60px;
            font-weight: bold;
            font-size: 26px;
            padding-top: 15px;
            line-height: 1.3em;
            @media (min-width: 1024px) {
                font-size: 51px;
            }
        }
    }
    // Hamburger Menu
    .ham-menu {
        background-color: #4B4B4B;
        width: 50px;
        color: inherit;
        font-weight: bold;
        font-size: 21px;
        position: fixed;
        bottom: 10%;
        right: 0;
        @media (min-width: 1024px) {
            bottom: unset;
            top: 195px;
            right: unset;
            left: 0;
        }
        ul {
            li {
                display: none;
                cursor: pointer;
                transition: background ease-in 200ms;
                padding:10px;
                a {
                    color: #fff;
                    text-decoration: none;
                }
                i {
                    padding-left: 5px;
                }
            }
            .open {
                display: block;
            }
        }
        li:hover {
            transition: background ease-in 200ms;
            background-color: #18bc9c;
        }
    }
    .ham-menu.active {
        background-color: #4B4B4B;
        width: 125px;
        bottom: 10%;
        @media (min-width: 1024px) {
            bottom: unset;
        }
        ul {
            li {
                display: block;
                i {
                    padding-left: 40px;
                }
            }
            .open {
                display:none;
            }
            .close {
                @media (min-width: 1024px) {
                    display: none;
                }
            }

        }
    }
}
// header Active Styles
.header.active {
    .nav {
        padding:10px 20px 3px;
        a, h1 {
            padding-bottom:5px;
        }
        h1 > a,
        .phone {
            font-size: 14px;
        }
        .phone {
            @media (min-width: 1024px) {
                font-size: 22px;
            }
        }
        h1,
        h1 > a {
            @media (min-width: 1024px) {
                font-size: 22px;
            }
        }
        .email {
            font-size: 16px;
            @media (min-width: 1024px) {
                font-size: 22px;
            }
        }
        .social-icons {
            width: 300px;
            a {
                i {
                    font-size: 25px;
                    @media (min-width: 1024px) {
                        font-size: 25px;
                    }
                }
            }
        }
    }
}