.projects {
    font-family: 'Kameron', serif;
    margin: 0 auto 100px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, minmax(215px, 500px) );
    gap: 20px;
    justify-content: center;
    align-items: center;
    @media (min-width: 800px) {
        column-gap: 10px;
        grid-template-columns: repeat(2, minmax(215px, 500px) );
    }
    @media (min-width:1024px) {
    }
    @media (min-width: 1290px) {
        justify-content: unset;
        align-items: unset;
        margin-right: 625px;
        grid-template-columns: repeat( 3, 372px );
    }
    .grid-item {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        position: relative;
        h3 {
            position: static;
            top: 0;
            left: 0;
            color: #4B4B4B;
            width: 100%;
            text-align: center;
            font-size: 15px;
            font-weight: bold;
            transition: transform ease-out 300ms;
            @media (min-width: 1200px) {
                font-size: 25px;
                width:352px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            span {
                font-size: 11px;
                padding: 2px 5px;
                margin-top: 5px;
                display: inline-block;
                color: #18bc9c;
                @media (min-width: 1200px) {
                    font-size: 16px;
                    width: 70%;
                }

            }
            span.down {
                color:tomato;
            }
        }
        .div-p {
            ul {
                position: absolute;
                top: 10%;
                left:10%;
                width: 80%;
                height: 75%;
                @media (min-width: 1200px) {
                top: 20%;

                }
                li {
                    font-size: 14px;
                    opacity: 0;
                    font-weight: bold;
                    padding-top: 10px;
                    margin-right:15px;
                    color: #fff;
                    line-height: 1.3em;
                    transition: opacity ease-in 200ms;
                @media (min-width: 1200px) {
                    font-size: 13px;
                }

                }
            }
        }
        img {
            border: 1px solid #4B4B4B;
            width: 100%;
            cursor: pointer;
            @media (min-width: 1200px) {
                width:352px;
            }
        }
        .div-p:hover img,
        .div-p:active img {
            opacity: 0;
        }
        .div-p .img-cont {
            height: 100%;
            width: 100%;
        }
        .div-p:hover .img-cont,
        .div-p:active .img-cont {
            position: relative;
            background-color: #4B4B4B;
        }
         .div-p:hover ul li,
         .div-p:active ul li {
             opacity: 1;
             z-index: 10;
             position: relative;
            transition: opacity ease-in 200ms;
         }
        .content-section {
            padding-top:10px;
            width: 100%;
            border: 1px solid #4B4B4B;
            border-top: none;
            margin-top: -4px;
            color: #4B4B4B;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media (min-width: 1200px) {
                width:352px;
            }
            h4 {
                font-size: 14px;
                text-align: center;
                margin-bottom: 10px;
                @media (min-width:1200px) {
                    font-size: 22px;
                }
            }
            p {
                font-size: 14px;
                background-color:#4B4B4B;
                padding: 5px;
                width: 100%;
                color: #fff;
                text-align: center;
                @media (min-width:1200px) {
                    font-size: 16px;
                }
            }
        }

    }
    .button-p {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        width: calc(90% + 10px);
        @media (min-width: 1200px) {
            width:352px;
            justify-content: space-evenly;
        }
        a {
            font-family: 'Kameron', serif;
            color: #4B4B4B;
            font-size: 17px;
            font-weight: bold;
            @media (min-width: 1200px) {
                font-size: 20px;
            }

        }
        a:hover {
            color: #18bc9c;
        }
    }
    .see-more {
        margin-top: 25px;
        a {
            font-family: 'Kameron', serif;
            color: #4B4B4B;
            font-size: 17px;
            font-weight: bold; 
            @media (min-width: 1200px) {
                font-size: 35px;;
            }

        }
        a:hover {
            color: #18bc9c;
        }
    }
}